{% extends bigfoot_theme_bundle ~ '::base.html.twig' %}

{% block bodyClass %}login-layout{% endblock bodyClass %}

{% block body %}
    <div id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div id="navbar-container" class="navbar-container">
            <div class="navbar-header pull-left">
                <div class="navbar-welcome">
                    <small>
                        <img src="{{ asset("admin/images/common/logo-c2is.png") }}" alt="C2iS">
                    </small>
                    <p>
                        <span>Bienvenue sur votre interface d'administration</span>
                    </p>
                </div>
            </div>

            <div class="navbar-header pull-right">
                <ul class="nav ace-nav">
                    <li class="grey">
                        <ul class="nav ace-nav info-nav">
                            <li class="copyright grey">
                                <small>BigFoot v. 1.X ©C2iS</small>
                            </li>
                            <li class="support grey">
                                <a href="http://support.c2is.fr/projects/seh-hotels/issues" target="_blank" class="align-right">
                                    <span class="align-left">Contactez le support</span>
                                    <i class="icon-sitemap align-center bigger-125 icon-on-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <img src="{{ asset("admin/images/common/logo-bigfoot.png") }}" alt="{{ 'Bigfoot'|trans }}">
                            </h1>
                        </div>

                        <div class="position-relative">
                            {% block form %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footerbar-container" class="footerbar-container">
        <ul class="navbar-footer">
            <li class="c1"></li>
            <li class="c2">
                <a href="http://www.c2is.fr/" target="_blank">Réalisé par C2iS</a> - <a href="http://symfony.com/" target="_blank">Propulsé par Symfony</a>
            </li>
            <li class="c3">
                <ul>
                    <li class="copyright">
                        <small>BigFoot v. 1.X ©C2iS</small>
                    </li>
                    <li class="support">
                        <a href="http://support.c2is.fr/projects/seh-hotels/issues" target="_blank" class="align-right">
                            <span class="align-left">Contactez le support</span>
                            <i class="icon-sitemap align-center bigger-125 icon-on-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function show_box(id) {
            $('.widget-box.visible').removeClass('visible');
            $('#' + id).addClass('visible');
        }
    </script>
{% endblock javascripts %}
