<table id="list" class="table table-striped portfolio-list">
    <tbody>
    {% for line in allMedias %}
    {% set used = false %}
    {% if line.id in mediaIds %}
    {% set used = true %}
    {% endif %}
    {% include 'BigfootAceThemeBundle:snippets:table_line.html.twig' with {'line': line, 'used': used} %}
    {% else  %}
        <tr>
            <td>{{ "No media found" | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>