<div class="panel-nestable"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Items
            <span>
                <a href="#" class="ajax-modal pull-right" data-toggle="modal" data-url="{{ path('bigfoot_menu_item_new', { 'layout': '_modal' }) }}"><i class="icon-plus bigger-130"></i></a>
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="dd nestable" data-output="{{ output }}">
            {% include 'BigfootDefaultThemeBundle:navigation:list.html.twig' with { 'items': items } %}
        </div>
    </div>
</div>

{% include 'BigfootDefaultThemeBundle:layout:modal.html.twig' with { 'name': 'edit-item', 'title': 'Edit item' } %}

<div class="clear"></div>