<div id="forgot-box" class="hidden switchs-container">
    <div class="widget-body">
        <div class="widget-main">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4 class="header red lighter bigger">
                    <i class="icon-key"></i>
                    Retrieve Password
                </h4>

                <p>Enter your email and to receive instructions</p>

                <div class="alert alert-danger hidden" role="forgot-message"></div>

                <form action="{{ path('admin_forgot_password') }}" method="POST" {{ form_enctype(form) }}>
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                                {{ form_widget(form.email, {attr: { placeholder: 'Email', role: 'forget-email' }}) }}
                            </div>
                        </div>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger f-password">
                                <i class="icon-lightbulb"></i>
                                Send Me!
                            </button>
                        </div>
                    </fieldset>

                    {{ form_rest(form) }}
                </form>

                <div class="toolbar center">
                    <a href="#" class="switchs" data-switchs-target="#login-box">
                        Back to login
                        <i class="icon-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>
