{% form_theme form 'BigfootDefaultThemeBundle:form_custom:filter.html.twig' %}

{% if form is defined and form %}
    <table class="table">
        <tr class="well">
            <td>
                <form action="#" method="POST">
                    {{ form_rest(form) }}
                    <input type="submit" class="btn btn-xs btn-primary" value="{{ 'bigfoot.crud.index.filter.global.submit' | trans }}">
                    <input type="submit" name="clear" class="btn btn-xs btn-danger" value="{{ 'bigfoot.crud.index.filter.global.clear' | trans }}">
                </form>
            </td>
        </tr>
    </table>
{% endif %}
